COPYING
INSTALL
Makefile
aclocal.m4
autom4te.cache/
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
version.xml
gtk-doc.make
install-sh
libzakauth.pc
libtool
ltmain.sh
missing
.deps
.libs
*.lo
*.o
*.la
*~
stamp-h1
*.in
*.bak
*.stamp
*.tar.gz
docs/reference/html/
docs/reference/xml/
compile
gtk-doc.m4